# SPDX-License-Identifier: GPL-2.0-or-later

#
# Geehy APM32F4x target
#
# https://global.geehy.com/MCU
#

#
# APM32F4x devices support JTAG and SWD transport.
#
source [find target/swj-dp.tcl]

if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME apm32f4x
}

# Work-area is a space in RAM used for flash programming, by default use 4 KiB.
if { [info exists WORKAREASIZE] } {
   set _WORKAREASIZE $WORKAREASIZE
} else {
   set _WORKAREASIZE 0x1000
}

if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
   if { [using_jtag] } {
     set _CPUTAPID 0x4ba00477
   } else {
     set _CPUTAPID 0x2ba01477
   }
}

swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

if { [using_jtag] } {
   jtag newtap $_CHIPNAME bs -irlen 5
}

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -endian little -dap $_CHIPNAME.dap

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0

set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME algo 0x08000000 20000 0 0 $_TARGETNAME

adapter speed 1000

if {![using_hla]} {
   # if srst is not fitted use SYSRESETREQ to perform a soft reset.
   cortex_m reset_config sysresetreq
}

set _algo_flash_base 0x08000000
set _algo_base 0x20000000
set _algo_data_base 0x20000C00
set _algo_date_size 0x400
set flash_init [expr {$_algo_base + 0x1d}]
set flash_uninit [expr {$_algo_base + 0x4b}]
set flash_erasechip [expr {$_algo_base + 0x59}]
set flash_erasesector [expr {$_algo_base + 0x85}]
set flash_programpage [expr {$_algo_base + 0xd1}]

proc algo_load {} {
    global _algo_base
    load_image apm32f4x_512.bin $_algo_base bin
}

proc algo_init {} {
    global flash_init
    dict set enter pc $flash_init
    reset halt
    set_reg {r0 0 r1 0 r2 0}
    set_reg $enter
    resume
}

proc algo_uninit {} {
    global flash_uninit
    dict set enter pc $flash_uninit
    set_reg {r0 0 r1 0 r2 0}
    set_reg $enter
    resume
}

proc algo_erasechip {} {
    global flash_erasechip
    dict set enter pc $flash_erasechip
    halt
    set_reg $enter
    resume
}

proc algo_erasesector {addr} {
    global flash_erasesector
    dict set arg1 r0 $addr
    dict set enter pc $flash_erasesector
    halt
    set_reg $arg1
    set_reg $enter
    resume
}

proc algo_programpage {addr size buf} {
    global flash_programpage
    dict set arg1 r0 $addr
    dict set arg2 r1 $size
    dict set arg3 r2 $buf
    dict set enter pc $flash_programpage
    halt
    set_reg $arg1
    set_reg $arg2
    set_reg $arg3
    set_reg $enter
    resume
}

proc algo_program {fname ftype} {
    global _algo_data_base _algo_date_size _algo_base _algo_flash_base

    set filesize [file size $fname]
    echo "$filesize bytes to program"

    set foffset 0
    set size 0
    set addr $_algo_flash_base

    for {set addr $_algo_flash_base} {$filesize > 0} {} {
        if {$filesize < $_algo_date_size} {
            set size $filesize
            set filesize 0
        } else {
            set size $_algo_date_size
            set filesize [expr {$filesize - $_algo_date_size}]
        }

        echo "$size bytes to program at $addr, offset = $foffset"

        # load the hex to SRAM data region
        load_image $fname [expr {$_algo_data_base - $foffset}] $ftype $_algo_data_base $size

        # start page programming
        algo_programpage $addr $size $_algo_data_base


        set foffset [expr {$foffset + $_algo_date_size}]
        set addr [expr {$addr + $_algo_date_size}]
    }
}

proc algo_download {fname ftype} {
    algo_load
    algo_init
    algo_erasechip
    algo_program $fname $ftype
}

proc algo_run {} {
    halt
    set pc_p [read_memory 0x08000004 32 1]
    set sp_p [read_memory 0x08000000 32 1]
    dict set pc_dict pc $pc_p
    dict set sp_dict sp $sp_p
    set_reg $pc_dict
    set_reg $sp_dict
    echo "set $pc_dict, set $sp_dict"
    # resume
}
